.container {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(123, 215, 208);
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    .label {
      font-size: 18px;
      margin-bottom: 6px;
    }
  }
}
