@import '../../../../assets/styles/styles';

.lenta {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--bg-lenta);
}
