.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../../assets/images/openOptionsIcon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
}
