.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: aquamarine;
  .header {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: black;
    a {
      margin: 0 10px;
      color: #ffffff;
    }
  }
  .content {
    background-color: yellow;
    flex: 1 0 auto;
  }
  .footer {
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

