@import '../../assets/styles/styles';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: var(--bg-signup-page);

  .form {
    .formList {
      display: flex;
      flex-direction: column;
    }
  }
}
