:root {
  /* text */
  --color-default: #ffffff;

  /* background */
  --bg-black: #000000;
  --bg-default-page: coral; 
  --bg-signin-page: rgb(123, 215, 208);
  --bg-signup-page: rgb(155, 199, 82);
  --bg-error-page: tomato;
  --bg-left-panel: aqua;
  --bg-lenta: rgb(139, 218, 139);;

  font-family: monospace, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100vh;
  background-color: #646cff;
}
