@import '../../assets/styles/styles';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-error-page);
  
  .box {
    font-size: 50px;
  }
}
